<h1>Add a New Pet Item</h1>
<form action='/pets/new' method="POST">
    <label for="name">Enter Pet Name: </label>
    <input type="text" name="name" placeholder="Enter Name" /><br>

    <label for="description">Enter Pet Description: </label>
    <input type="text" name="description" placeholder="Enter Description" /><br>

    <label for="imageUrl">Enter Image URL: </label>
    <input type="text" name="imageUrl" placeholder="Enter URL" /><br>

    <button type="submit">Add Item</button>
</form>